body {
  background-color: bisque;
  max-width: 70%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.1rem;
}

header nav ul {
  list-style-type: none; 
  display: flex; 
  justify-content: flex-end;
}

header nav ul li a {
  text-decoration: none;
  color: black; 
  padding: 10px 20px; 
}

header nav ul li a:hover {
  text-decoration: underline;
}
